<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Topic Form</title>
</head>
<body>

<h1 th:text="${topic.id == null} ? 'Create Topic' : 'Edit Topic'"></h1>

<form th:action="@{/admin/topics/save}"
      th:object="${topic}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}"
             style="color:red"></div>
    </div>

    <div>
        <label>Description:</label>
        <input type="text" th:field="*{description}" />
        <div th:if="${#fields.hasErrors('description')}"
             th:errors="*{description}"
             style="color:red"></div>
    </div>

    <button type="submit">Save</button>
</form>

<br>
<a th:href="@{/admin/topics}">Back</a>

</body>
</html>